<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ubeat - A Beat for U</title>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <meta name="description" content="Ubeat is a platform to share and discover music with friends" />
        <meta name="author" content="Ubeat" />
        <meta name="copyright" content="Ubeat" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="manifest" href="/static/manifest.json">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="license" href="https://raw.githubusercontent.com/afrigon/ubeat/master/LICENSE">
        <link href="/static/css/fs.min.css" rel="stylesheet" type="text/css" media="screen,projection" />
        <script src="/static/js/arbitrary.js" type="text/javascript"></script>
        <script src="/static/js/fs.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>

