<!DOCTYPE html>
<html lang="en">
    <head>
        <title>UBeat - a beat for u</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet", type="text/css", media="screen,projection", href="css/style.css" />
        <link rel="stylesheet", type="text/css", media="screen,projection", href="css/index.css" />
        <link rel="stylesheet", type="text/css", media="screen,projection", href="css/header.css" />
        <script src="js/fs.js" type="text/javascript"></script>
        <script type="text/javascript">
            FS.addComponent(new AutoScrollAnimator());
        </script>
    </head>
    <body class="body">
        <header>
            <nav class="left">
                <a class="block clickable" href="index.html">
                    <div class="logo">
                        <object>
                            <embed src="img/logo/ubeat.svg"/>
                        </object>
                    </div>
                </a>
                <ul class="margin-left-30 capitalize scroll-animate fadeIn">
                    <a href="playlists.html">
                        <li>playlists</li>
                    </a>
                </ul>
            </nav>
            <form id="form-search">
                <input type="search" />
            </form>
        </header>
        
        <main>

        </main>

        <footer class="grey lighten-4 text-grey text-darken-4">
            <div class="copyright grey lighten-3">
                <div class="container">© 2018 Ubeat</div>
            </div>
        </footer>
    </body>
</html>