.logo:hover{ border-color: #E0E0E0; }
.logo:hover .logo-main { fill: #E0E0E0; }
#logo-letter { transform: translateY(-300px); }
#logo-headphones, #logo-letter {
    transition: opacity 1.5s ease, transform 1s ease, fill 0.5s ease;
    opacity: 0;
}
#logo-headphones path { transition: fill 0.5s ease; }

header nav.underline-animate li::after { opacity: 0.75; }

#form-search { height: 100%; }
#search-filter-wrapper {
    position: absolute;
    height: 40px;
    top: 30px;
    transition: top 300ms ease-out, opacity 300ms ease-in;
    z-index: -1;
}
#search-filter-wrapper ul { border-radius: 0 0 15px 15px; height: 100%; }
#search-filter-wrapper ul li { 
    border: 0px solid;
    transition: border 300ms ease;
}
#search-filter-wrapper ul li:hover { background-color: #353535; }
#search-filter-wrapper ul .active { border-bottom: 3px solid; background-color: #353535;  }